modules = ["python-3.12"]


[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python bot.py"]

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 41208079
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python bot.py"
